#portfolio{
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: space-between;
  background-color: #494b50;
  padding: 60px;
  border-bottom: 1px solid #797e85;

   h1{
    color: rgb(235, 43, 123);
    font-size: 1.3em;
    font-weight: normal;
  }
  
   h2{
    color: white;
    font-size: 2.1em;
  }
  
   p{
    color: white;
    font-size: 1.2em;
  }
}

#container-cards{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 60px;
}

.portfolio-item{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  border-radius: 10px;
  width: 350px;
  margin: 20px 0;
  padding: 20px;
  background-color: #35373b;

   h3{
    color: rgb(250, 59, 138);
    font-size: 1.1em;
    font-weight: lighter;
    padding-top: 10px;
  }
   span{
    font-size: 1em;
    color:  #d3d7df;
  }
  
  a{
  width: 95%;
  color: white;
  font-size: 28px;
  margin-right: 10px;
  }

  img{
  width: 100%;
  }
}


/* media queries */
@media screen and (max-width: 1280px){
  #portfolio{
    width: 80%;
  }
}


@media screen and (max-width: 769px){
  #portfolio{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
  }
  #portfolio h2{
    width: 100%;
  }
  #portfolio p{
    width: 100%;
  }
  
  #container-cards{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 60px;
  }

  .portfolio-item img{
    width: 100%;
  }
}